<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Member" type="global.dclass.team5.VO.Member"/>
		<typeAlias alias="Application" type="global.dclass.team5.VO.Application"/>
		<typeAlias alias="Message" type="global.dclass.team5.VO.Message"/>
		<typeAlias alias="Calendar" type="global.dclass.team5.VO.Calendar"/>
		<typeAlias alias="GroupBoardInfo" type="global.dclass.team5.VO.GroupBoardInfo"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/memberMapper.xml" />
		<mapper resource="mappers/adminMapper.xml" />
		<mapper resource="mappers/messageMapper.xml"/>
		<mapper resource="mappers/calendarMapper.xml"/>
	</mappers>
</configuration>
